<h1>Setores</h1>

<div>
	<a  routerLink="addSetor"  role="button" routerLinkActive="active"><button type="button" class="btn green white-text" >
		Nova Setor</button>
	</a>
</div>

<div *ngFor="let setor of setores | async" style="width: 300px;">
	<setor-details [setor]='setor'></setor-details>
</div>

<div>
	<button type="button" class="btn red white-text" (click)='deleteSetores()'>Apagar Todos</button>
</div>



<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>