
<div class="row">
<table class="col s12 center-align" style="width: 80vw;">
        <thead>
          <tr>
              <th>Nome</th>
              <th>Estágio Fenológico</th>
              <th>Coeficiente de Cultivo</th>
              <th>Diâmetro Radicular</th>
              <th>Diâmetro de Copa</th>
              <th>Ciclo</th>
              <th>Ações</th>
          </tr>
        </thead>

        <tbody *ngIf="estacao">
          <tr>
            <td>{{estacao.nome}}</td>
            <td>{{estacao.estFenologico}}</td>
            <td>{{estacao.kc}}</td>
            <td>{{estacao.dRadicular}}</td>
            <td>{{estacao.dCopa}}</td>
            <td>{{estacao.ciclo}}</td>
            <td><span class="btn blue white-text" *ngIf='estacao.active' (click)='updateActive(false)'>Desativar</span>
	
	<span class="btn green white-text"*ngIf='!estacao.active' (click)='updateActive(true)'>Ativar</span>

	<span class="btn red white-text" (click)='deleteEstacao()'>Apagar</span></td>
          </tr>
        </tbody>
 </table>
</div>