
<div class="row">
<table class="col s12 center-align" style="width: 80vw;">
        <thead>
          <tr>
              <th>Nome</th>
              <th>Estágio Fenológico</th>
              <th>Coeficiente de Cultivo</th>
              <th>Diâmetro Radicular</th>
              <th>Diâmetro de Copa</th>
              <th>Ciclo</th>
              <th>Ações</th>
          </tr>
        </thead>

        <tbody *ngIf="emissor">
          <tr>
            <td>{{emissor.nome}}</td>
            <td>{{emissor.estFenologico}}</td>
            <td>{{emissor.kc}}</td>
            <td>{{emissor.dRadicular}}</td>
            <td>{{emissor.dCopa}}</td>
            <td>{{emissor.ciclo}}</td>
            <td><span class="btn blue white-text" *ngIf='emissor.active' (click)='updateActive(false)'>Desativar</span>
	
	<span class="btn green white-text"*ngIf='!emissor.active' (click)='updateActive(true)'>Ativar</span>

	<span class="btn red white-text" (click)='deleteEmissor()'>Apagar</span></td>
          </tr>
        </tbody>
 </table>
</div>